[submodule "external/boost-cmake-ndk"]
	path = external/boost-cmake-ndk
	url = https://github.com/liurunjieuk/boost-cmake-ndk.git
[submodule "external/vsomeip-ndk"]
	path = external/vsomeip-ndk
	url = https://github.com/liurunjieuk/vsomeip-ndk.git
